.Cell {
    width: 16.5%;
    height: 16.5%;
    background-color: cornflowerblue;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

.Cell:hover {
    background-color: gold;
}

.Open {
    background-color: darkgreen;
}