.Field {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 3px solid gold;
    margin: 50px auto;
}

.Counter {
    margin: 20px auto;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: crimson;
}

.btn-click {
    margin-left: 10%;
    margin-top: 5px;
    background-color: crimson;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.btn-click:hover {
    background-color: yellow;
    color: #000;
}