body {
  background-color: #000;
}
.App {
  text-align: center;
  padding: 0 35px;
  margin-top: 50px;
}

.grey {
  width: 16%;
  height: 50px;
  display: inline-block;
  background-color: #545454;
  margin-bottom: 1px
}

.grey:hover {
  background-color: cornflowerblue;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 3px solid crimson;
}

.white {
  width: 16%;
  height: 50px;
  display: inline-block;
  background-color: #fff;
  margin-bottom: 1px
}

.box {
  width: 330px;
  height: 330px;
  padding: 3px;
  border: 2px solid steelblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
